*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../IPL-ticketing/background.jpg) no-repeat center fixed;
    background-size: cover;
}

.res{
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.5);
    border: 2px ;
    padding: 5px;
    
}
h1{
    padding: 5px;
    font-family:  'Cinzel decorative';
    font-size: 30px;
}
#name{
    width: 35%;
    padding: 5px;
    border-radius: 2px;
    border: 2px ;
    outline: 0;
}
label{
    color: white;
}
#sel{
    width: 20%;
    padding: 5px;
    border-radius: 2px;
    border: 2px ;
    outline: 0;
}
#sel:hover{
    cursor: pointer;
    transform: scale(1.2);
}