body{
    font-family: 'Josefin';
    font-size: larger;
    font-weight: bolder;
    color: oldlace;
    background: url(../images/ground.jpg) no-repeat center fixed;
    background-size: cover;
    
}

.match-heading {
    font-family:  'Cinzel decorative';
    color:  whitesmoke;
    padding: 25px;
    font-weight: bolder;
    text-align:center;

}
.row{
    
    margin-left:20px;
    margin-right:20px;
}
.card-input-ele:checked + .card-input{
    box-shadow: 0 0 3px 3px whitesmoke;
}
.cards-col{
    padding:2% 1% ;
}
.card{
    background: rgba(0,0,0,0.6);
}
.card-photo{
   
    width:100px;
    height:100px;
    object-fit: cover;
}
.card-title,.card-subtitle {
    color: whitesmoke;
    text-align: center;
    font-family: 'Alegreya',cursive;
    font-size: 20px;
    font-weight: 1000px;
}
#button{
    margin-left: 650px;
    width: 200px;
    height: 40px;
    text-align: center;
    background-color:#4F91CD;
    cursor: pointer;
    border: 2px ;  
    font-family: 'Alegreya',cursive; 
    padding: 5px;

}
